<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="EDMS ReverseProxy Inbound" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="webf8Service/*" />
                    <action type="Rewrite" url="http://vmb-las760:4000/{R:0}" logRewrittenUrl="false" />
                </rule>
                <rule name="AngularJS StaticContent" enabled="true" stopProcessing="true">
                    <match url="(lib/.*|translations/.*|css/.*|js/.*|config.js|templates/.*)" />
                    <action type="None" />
                </rule>
                <rule name="AngularJS Routes" enabled="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="index.html" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
    </system.webServer>
</configuration>
